
.m-bg {
    position: absolute;
    width: 1226px;
    margin-left: 79px;
    height: 1200px;
    background: url(../img/实验五/ex05.jpg)no-repeat;
    opacity: .4;
}
.m-bg1 {
    width: 489px;
    height: 323px;
    margin-left: 101px;
    position: absolute;
    background: url(../img/实验五/m-hd-lt.png)no-repeat;
    background-size: 100% 100%;
}
.g-index {
    width: 1200px;
    margin: 0 auto;
}
.m-hd {
    height: 371px;
    box-sizing: border-box;
}
.m-hd>div {
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.m-lt1 {
    text-align: right;
    padding-top: 48px;
    padding-right: 11px
}
.m-rt1 {
    padding-left: 39px;
    padding-top: 64px;
}


.m-top1 {
    font-size: 22px;
    border-bottom: 1px black;
}
.m-hd>.m-rt1>.m-box {
    position: relative;
    top: 19px;
    left: 2px;
    width: 49px;
    height: 1px;
    border: 1px solid;
    background-color: rgba(34, 49, 253, 0.486);
    border-radius: 2px;
}
.m-body1 {
    padding-left: 3px;
    width: 467px;
    font-size: 16px;
    letter-spacing: 0.5px;
    padding-top: 53px;
    line-height: 32px;
}
.m-hd>.m-rt1>.m-bottom1 {
    position: relative;
    top: 28px;
    left: 2px;
    width: 197px;
    height: 41px;
    border: 1px solid;
    background-color: rgba(34, 49, 253, 0.486);
    border-radius: 7px;
}
.m-hd>.m-rt1>.m-label {
    position: relative;
    padding-left: 20px;
    top: -4px;
    color: white;
}


.m-bd {
    height: 416px;
}
.m-blog {
    letter-spacing: 1px;
    padding-left: 101px;
    color: rgba(34, 49, 253, 0.486);
    padding-top: 63px;
    font-size: 33px;
}
.m-bd>.m-top>.m-box1 {
    position: relative;
    top: -66px;
    left: 951px;
    width: 148px;
    height: 32px;
    border: 1px solid;
    background-color: rgba(34, 49, 253, 0.486);
    border-radius: 10px;
}
.m-title {
    position: relative;
    top: -34px;
    left: 210px;
    font-size: 19px;
}
.m-bd>.m-top>.m-button {
    position: relative;
    top: -97px;
    left: 987px;
    letter-spacing: -0.5px;
    line-height: 32px;
    font-size: 15px;
    color: aliceblue;
}
.m-bd>.m-top>.m-box2 {
    position: relative;
    top: -123px;
    left: 190px;
    width: 2px;
    height: 16px;
    border: 1px solid;
    background-color: rgba(34, 49, 253, 0.486);
    border-radius: 2px;
}
.m-bd>.m-top>.m-box3 {
    position: relative;
    top: -85px;
    left: 100px;
    width: 997px;
    height: 1px;
    border: 1px solid;
    background-color: rgba(34, 49, 253, 0.288);
    border-radius: 1px;
}
.m-bd>.m-bottom {
    height: 277px;
}

.m-bd>.m-bottom>.m-date1 {
    position: relative;
    top: -42px;
    left: 99px;
    font-size: 15px;
}

.m-bd>.m-bottom>.m-date2 {
    position: relative;
    top: 19px;
    left: 101px;
    line-height: 32px;
    font-size: 15px;
}

.m-bd>.m-bottom>.m-date3 {
    position: relative;
    top: 75px;
    left: 100px;
    line-height: 32px;
    font-size: 15px;
}

.m-bd>.m-bottom>.m-box1 {
    position: relative;
    top: -131px;
    left: 211px;
    width: 110px;
    height: 27px;
    border: 0px solid;
    background-color: rgba(34, 209, 253, 0.486);
    border-radius: 20px;
}

.m-bd>.m-bottom>.m-box2 {
    position: relative;
    top: -70px;
    left: 212px;
    width: 110px;
    height: 27px;
    border: 0px solid;
    background-color: rgba(7, 158, 1, 0.486);
    border-radius: 20px;
}
.m-bd>.m-bottom>.m-box3 {
    position: relative;
    top: -9px;
    left: 212px;
    width: 110px;
    height: 27px;
    border: 0px solid;
    background-color: rgba(7, 158, 1, 0.486);
    border-radius: 20px;
}

.m-bd>.m-bottom>.m-title1 {
    position: relative;
    top: -215px;
    left: 254px;
    letter-spacing: -0.5px;
    line-height: 32px;
    font-size: 12px;
    color: aliceblue;
}

.m-bd>.m-bottom>.m-title2 {
    position: relative;
    top: -159px;
    left: 235px;
    letter-spacing: 1.5px;
    line-height: 32px;
    font-size: 13px;
    color: aliceblue;
}

.m-bd>.m-bottom>.m-title3 {
    position: relative;
    top: -93px;
    left: 234px;
    letter-spacing: 1.5px;
    line-height: 12px;
    font-size: 13px;
    color: aliceblue;
}

.m-bd>.m-bottom>.m-click1 {
    position: relative;
    top: -282px;
    left: 342px;
    letter-spacing: 0.6px;
    line-height: 12px;
    font-size: 16px;
    margin-right: 785px;
    border-bottom: 1px solid black;
}
.m-bd>.m-bottom>.m-click2 {
    position: relative;
    top: -207px;
    left: 341px;
    letter-spacing: 0.6px;
    line-height: 12px;
    font-size: 16px;
    margin-right: 780px;
    border-bottom: 1px solid black;
}

.m-bd>.m-bottom>.m-click3 {
    position: relative;
    top: -132px;
    left: 342px;
    letter-spacing: 1px;
    line-height: 12px;
    font-size: 16px;
    margin-right: 759px;
    border-bottom: 1px solid black;
}
.m-title4 {
    position: relative;
    top: -231px;
    margin: 0px 100px 0 100px;
    border-bottom: 1px solid #b2b2b2;
}
.m-title5 {
    position: relative;
    top: -143px;
    margin: 0px 100px 0 100px;
    border-bottom: 1px solid #b2b2b2;
}
.m-title6 {
    position: relative;
    top: -59px;
    margin: 0px 100px 0 100px;
    border-bottom: 1px solid #b2b2b2;
}








.m-ft {
    position: relative;
    height: 379px;
}

.m-ft>.m-lt {
    float: left;
    margin-left: -26px;
    margin-top: -6px;
    width: 600px;
    height: 400px;
    
}

.m-ft>.m-lt>.m-title {
    position: relative;
    top: 21px;
    left: 70px;
    letter-spacing: -0.5px;
    line-height: 32px;
    font-size: 23px;
    color: rgb(0, 81, 255);
    margin-right: 200;
}

.m-ft>.m-lt>.m-box {
    position: relative;
    top: 45px;
    left: 52px;
    width: 538px;
    height: 315px;
    border: 2px solid rgba(128, 128, 128, 0.616);
    border-radius: 1px;
    margin-right: 200;
}

.m-ft>.m-lt>.m-title {
    position: relative;
    top: 21px;
    left: 70px;
    letter-spacing: -0.5px;
    line-height: 32px;
    font-size: 23px;
    margin-right: 200;
}

.m-ft>.m-lt>.m-text1 {
    position: relative;
    top: -238px;
    left: 219px;
    letter-spacing: -0.5px;
    line-height: 32px;
    font-size: 23px;
    color: #9b9b9b;
    margin-right: 200;
}

.m-ft>.m-lt>.m-text2 {
    position: relative;
    top: -218px;
    left: 169px;
    letter-spacing: 1px;
    line-height: 32px;
    font-size: 44px;
    color: rgb(0, 132, 255);
    margin-right: 200;
}

.m-ft>.m-lt>.m-text3 {
    position: relative;
    top: -191px;
    left: 181px;
    letter-spacing: -0.5px;
    line-height: 29px;
    font-size: 17px;
    color: #9b9b9b;
    margin-right: 200;
}
.m-ft>.m-lt>.m-text4 {
    position: relative;
    top: -191px;
    left: 197px;
    letter-spacing: -0.5px;
    line-height: 29px;
    font-size: 17px;
    color: #9b9b9b;
    margin-right: 200;
}

.m-ft>.m-lt>.m-text5 {
    position: relative;
    top: -152px;
    left: 180px;
    letter-spacing: 2px;
    line-height: 32px;
    font-size: 21px;
    color: rgb(0, 132, 255);
    margin-right: 200;
}

.m-ft>.m-lt>.l-box {
    position: relative;
    top: -479px;
    left: 52px;
    width: 5px;
    height: 29px;
    border: 1px solid;
    background-color: rgba(34, 49, 253, 0.486);
    border-radius: 2px;
}

.m-ft>.m-rt {
    float: right;
    position: relative;
    top: -7px;
    width: 585.75px;
    height: 400px;
}
.m-ft>.m-rt>.l-box {
    position: relative;
    top: -514px;
    left: 22px;
    width: 5px;
    height: 29px;
    border: 1px solid;
    background-color: rgba(34, 49, 253, 0.486);
    border-radius: 2px;
}

.m-ft>.m-rt>.m-title {
    position: relative;
    top: 21px;
    left: 39px;
    letter-spacing: -0.5px;
    line-height: 32px;
    font-size: 23px;
    color: rgb(0, 81, 255);
}

.m-ft>.m-rt>.m-box1 {
    position: relative;
    top: 45px;
    left: 22px;
    width: 538px;
    height: 315px;
    border: 2px solid rgba(128, 128, 128, 0.616);
    border-radius: 1px;
}

.m-ft>.m-rt>.m-box2 {
    position: relative;
    top: -202px;
    left: 76px;
    width: 427px;
    height: 70px;
    border: 1px solid rgba(128, 128, 128, 0.616);
    border-radius: 5px;
    background-color: rgba(34, 49, 253, 0.486);
}

.m-ft>.m-rt>.m-text1 {
    position: relative;
    top: -253px;
    left: 170px;
    letter-spacing: -2px;
    line-height: 32px;
    font-size: 23px;
    color: aliceblue;
}

.m-ft>.m-rt>.m-text2 {
    position: relative;
    top: -216px;
    left: 150px;
    letter-spacing: 0.4;
    line-height: 28px;
    font-size: 16px;
}
.m-ft>.m-rt>.m-text3 {
    position: relative;
    top: -215px;
    left: 183px;
    letter-spacing: 1.5px;
    line-height: 28px;
    font-size: 15px;
}

