body{
    margin: 0;
}

li{
    list-style: none;
}


.m-bg1 {
    position: absolute;
    margin-left: 31px;
    margin-top: 209px;
    width: 48px;
    height: 60px;
    background: url(../2020213102023蒋昊捷/img/实验四bg1.jpg)no-repeat;
    background-size: 50% 50%;
    
}
.m-bg2 {
    position: absolute;
    margin-left: 101px;
    margin-top: 211px;
    width: 58px;
    height: 54px;
    background: url(../2020213102023蒋昊捷/img/实验四bg2.jpg)no-repeat;
    background-size: 50% 50%;
    
}

.m-bg3 {
    position: absolute;
    margin-left: 171px;
    margin-top: 211px;
    width: 68px;
    height: 48px;
    background: url(../2020213102023蒋昊捷/img/实验四bg3.jpg)no-repeat;
    background-size: 50% 50%;
    
}

.m-bg4 {
    position: absolute;
    margin-left: 244px;
    margin-top: 211px;
    width: 72px;
    height: 54px;
    background: url(../2020213102023蒋昊捷/img/实验四bg4.jpg)no-repeat;
    background-size: 50% 50%;
    
}


.m-taobao {
    width: 304px;
    height: 440px;
    border: 7px solid #ccc;
    box-sizing: border-box;
}

.m-hd{
    height: 57px;
}

.m-hd>li{
    text-align: center;
    top:15px;
    font-size: 12px;
}



.m-hd>li>{
    font-size: 12px;
}

.m-hd>li>label{
    display: block;
    color: #ff6600;
    font-weight: bold;
    font-size: 14px;
}

.m-hd>li:nth-child(1){
    position: absolute;
    left: 36px;
}

.m-hd>li:nth-child(2){
    position: absolute;
    left: 102px;
}

.m-hd>li:nth-child(3){
    position: absolute;
    left: 168px;
}

.m-hd>li:nth-child(4){
    position: absolute;
    left: 234px;
}

.m-box{
    height: 25px;
    background: #ffbb8f;
    text-align: center;
}
.m-1 {
    color: #b47c16;
    padding-top: 4px;
    padding-right: 6px;
    font-size: 8px;
    letter-spacing: 0px;
}
.m-menu {
    font-size: 12px;
    color: #7a7a7a;
    padding-left: 22px;
    padding-top: 17px;
}
.m-name+.m-name{
    margin-left: 26px;
  }
.m-menu>span:nth-child(3){
    color:black;
    border-bottom: 2px solid #ff6600;
}

.m-menu2 {
    font-size: 12px;
    color: #cd7c30;
    letter-spacing: 0.1px;
    padding-left: 12px;
    padding-top: 18px;
}
.m-name2+.m-name2{
    margin-left: 28px;
  }
.m-menu3 {
    font-size: 12px;
    color: #858382;
    letter-spacing: 0.1px;
    padding-left: 11px;
    padding-top: 8px;
    margin-bottom: 17px;
}
.m-name3+.m-name3{
    margin-left: 41px;
  }

.m-menu4 {
    font-size: 12px;
    letter-spacing: 0.1px;
}


.m-menu4>span:nth-child(1) {
    position: absolute;
    padding: 17px;
    color: #ff6600;
    padding-top: 45px;
    padding-bottom: 14px;
    border-top: 1px solid #ff6600;
    border-right: 1px solid #ff6600;
    border-left: 1px solid #ff6600;
}

.m-menu4>span:nth-child(2) {
    position: absolute;
    padding: 7px;
    margin-left: 72px;
    color: #858382;
    padding-right: 23px;
    padding-left: 24px;
    padding-top: 44px;
    padding-bottom: 14px;
    border-right: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #ff6600;
}

.m-menu4>span:nth-child(3) {
    position: absolute;
    padding: 7px;
    margin-left: 145px;
    color: #858382;
    padding-right: 23px;
    padding-left: 24px;
    padding-top: 44px;
    padding-bottom: 14px;
    border-right: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #ff6600;
}

.m-menu4>span:nth-child(4) {
    position: absolute;
    padding: 7px;
    margin-left: 217px;
    color: #858382;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 44px;
    padding-bottom: 14px;
    border-right: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #ff6600;
}

.m-menu5 {
    font-size: 12px;
    margin-top: 40px;
    color: #c7c7c7;
    /* padding-left: 0px; */
    padding-top: 53px;
}

.m-menu5>span:nth-child(1) {
    position: absolute;
    padding: 131px;
    color: #ff6600;
    padding-top: 10px;
    padding-left: 24px;
    /* padding-bottom: 0px; */
    border-left: 1px solid #ff6600;
}

.m-menu5>span:nth-child(2) {
    position: absolute;
    padding: 9px;
    color: #e0e0e0;
    padding-top: 10px;
    padding-left: 85px;
}
.m-menu5>span:nth-child(3) {
    position: absolute;
    padding: 9px;
    color: #e0e0e0;
    padding-top: 10px;
    padding-left: 145px;
}
.m-menu5>span:nth-child(4) {
    position: absolute;
    padding: 131px;
    color: #e0e0e0;
    padding-top: 9px;
    padding-left: 205px;
    padding-right: 48px;
    /* padding-bottom: 0px; */
    border-right: 1px solid #ff6600;
    border-bottom: 1px solid #ff6600;
}

.m-menu6 {
    font-size: 12px;
    margin-left: 16px;
    margin-top: 35px;
    margin-right: 84px;
    color: #c7c7c7;
    padding-top: 5px;
    padding-bottom: 2px;
    padding-left: 4px;
    border: 1px solid #d9d9d9;
}

.m-menu7 {
    font-size: 12px;
    margin-left: 16px;
    margin-right: 84px;
    color: #c7c7c7;
    padding-top: 5px;
    padding-bottom: 2px;
    padding-left: 4px;
    border: 1px solid #d9d9d9;
}

.m-menu8 {
    font-size: 12px;
    color: #7a7a7a;
    padding-left: 19px;
    padding-top: 6px;
}

.m-menu8>span:nth-child(2) {
    position: absolute;
    color: #ff6600;
    padding-left: 6px;
}

.m-box2 {
    margin-left: 16px;
    margin-top: 7px;
    height: 22px;
    width: 68px;
    background: #ff5315;
    text-align: center;
    font-size: 12px;
    color: white;
    padding-top: 5px;
}